body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen',sans-serif;
}
#header-nav{
	background-color: #f6b319;
	border-radius:0;
	border: 0;
	height: 60px;
}
#logo-img{
	background:url('../Downloads/logo-rest.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}
.navbar-brand{
	margin-top: 5px;
	text-shadow:1px 1px 1px;
	color: green; 
}
h1{
	margin-top:0;
}